*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.parent1{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px 90px;
    margin-bottom: 20px;
}
img{
    width: 180px;
    height: 60px;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    padding: 10px;
    padding-top: 5px;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    transition: 0.2s;
    color: grey;
}
.arrow{
    padding-left: 5px;
    padding-top: 22px;
    width: 16px;
    height: 33px;
}
.lang{
    padding-left: 5px;
    width: 37px;
    height: 30px;
    margin-top: 10px;
}
.search{
    padding-left: 2px;
    padding-right: 2px;
    width: 33px;
    height: 29px;
    margin-top: 10px;
}
.content{
    width: auto;
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin: 50px 450px;
}
.bold{
    font-weight: 500;
}
strong{
    font-weight: 500;
}
.revs{
    height: 33px;
    width: 110px;
}
h1{
    margin-top: 30px;
    line-height: 1.3em;
    font-size: 48px;
    margin-bottom: 20px;
}
p{
    margin-top: 20px;
    font-weight: 380;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
button{
    padding: 12px 20px !important;
    min-height: 48px;
    min-width: 256px;
    text-align: center;
    background-color: #00b6d1;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s;
}
button:hover{
    background-color: #06a6b8;
    transition: 0.4s;
}
.down-btn{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
footer{
    position: relative;
    top: 500px;
    box-shadow: 1px 1px 20px 3px rgb(0 0 0);
    display: flex;
    height: 10vh;
    width: 95%;
    justify-self: center;
    border-radius: 10px;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 300;
    font-size: large;
}
footer div a button:hover{
    min-width: 0px !important;
    margin-left: 20px;
}
.aage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 50px;
    width: 900px;
    height: 1000px;
    justify-self: center;
}
.new-logo{
    width: 60px;
    height: 60px;
    
}
#new{
    display: flex;
    margin-left: 470px;
    margin-top: 120px;
}
#new h2{
    font-size: 24px;
    font-weight: 400;
    color: rgb(39, 39, 39);
    margin-top: 14px;
    margin-left: 15px;
}
#new p{
    font-size: small;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 6px;
}
.box{
    background-color: rgb(246, 240, 240);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    font-size: larger;
    font-weight: bold;
}
